body{
    font-family: 'Miriam Libre', sans-serif;
    background-image: url(./assets/background3.jpg);
    background-size: cover;
}

#registerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerBox{
    background-color: #DDE5F5;
    border-radius: 50px;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color:aliceblue;
}

#nameTop{
    margin-top: 10%;
}

#born{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color:aliceblue;
}

#gender{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color:aliceblue ;
}

#email{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color:aliceblue ;
}

#password{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color:aliceblue ;
}

.line{
    display: inline;
}

#buttonConfirm{
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: aliceblue;
    align-items: center;
}

#devSection{
    display: flex;
    justify-content: flex-end;
    color: yellow;
    align-items: center;
}

#alertText{
    margin-top: 5%;
    color: white;
    text-align: flex-start;
}